<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
<% flash.each do |type, message| %>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <%= message %>
  </div>
<% end %>

<%= yield %>
</body>
</html>
